<section class="section">
    <h1 class="title">Panel de usuario</h1>
    <h2 class="subtitle">Bienvenido: {{user.name}}</h2>
    <aside class="menu">
        <p class="menu-label">Usuarios</p>
        <ul class="menu-list">
          <li><a href="{% url 'users_app:user_list' %}">Listar</a></li>
        </ul>
        <p class="menu-label">Roles</p>
        <ul class="menu-list">
          <li><a href="{% url 'role_app:role_add' %}">Registrar</a></li>
          <li><a href="{% url 'role_app:role_list' %}">Listar</a></li>
        </ul>
      </aside>
</section>

    
