{% extends 'base.html' %}


{% block title %}
    Listar usuarios
{% endblock title %}
{% block content %}
<section class="section">
    <h1 class="title">Lista de Roles</h1>
    <div class="container is-fluid">
        <div class="notification">
            <div class="fixed-grid has-4-cols">
                {% for roles in roles_list  %}
                <div class="grid">
                  <div class="cell">{{ roles.name }}</div>
                  <div class="cell"><a href="{% url 'role_app:role_detail' roles.id %}">Ver</a></div>
                  <div class="cell"><a href="{% url 'role_app:role_update' roles.id %}">Modificar</a></div>
                  <div class="cell"><a href="{% url 'role_app:role_delete' roles.id %}">Eliminar</a></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container is-fluid">
        
        {% if is_paginated  %}
        <nav class="pagination" role="navigation" aria-label="pagination">
            
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" class="pagination-previous">Atras</a>    
            {% endif %}
                
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="pagination-next">Siguiente</a>
            {% endif %}

            <nav class="pagination-list">
              
              {% for pagina in paginator.page_range  %}
              <li>
                <a href="?page={{pagina}}" class="pagination-link" aria-label="Siguiente pagina">{{pagina}}</a>
              </li>
              {% endfor %}
                
              
            </nav>
        </nav>    
        {% endif %}
    </div>
</section>
{% endblock content %}