{% extends 'base.html' %}


{% block title %}
    Registrar usuario
{% endblock title %}
{% block content %}
<section class="section">
    <h1 class="title">Registrar usuario</h1>
    <form method="POST">{% csrf_token %}
        {{form.as_p}}
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Registrar</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancelar</button>
            </div>
          </div>
    </form>
</section>

{% endblock content %}