{% extends 'base.html' %}


{% block title %}
    Login
{% endblock title %}
{% block content %}
<section class="section">
    <h1 class="title">Modificar datos del Usuario</h1>
    <form method="POST">{% csrf_token %}
        {{form.as_p}}
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Modificar</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancelar</button>
            </div>
          </div>
    </form>
</section>
    
{% endblock content %}