{% extends 'base.html' %}


{% block title %}
    Listar usuarios
{% endblock title %}
{% block content %}
<h1>Lista de usuarios</h1>
<div class="container is-fluid">
    <div class="notification">
        <div class="fixed-grid has-7-cols">
            {% for user in users_list  %}
            <div class="grid">
              <div class="cell">{{ user.name }}</div>
              <div class="cell">{{user.last_name}}</div>
              <div class="cell">{{user.age}}</div>
              <div class="cell">{{user.role}}</div>
              <div class="cell">Ver</div>
              <div class="cell">Modificar</div>
              <div class="cell">Eliminar</div>
            </div>
            {% endfor %}
        </div>
        <!-- <ul>
            
            
                <li> -   - - </li>
            
                
        </ul> -->
    </div>
  </div>
    
{% endblock content %}