{% extends 'base.html' %}


{% block title %}
    Verificar código
{% endblock title %}
{% block content %}
<section class="section">
    <h1 class="title">Verificación de email</h1>
    <h2 class="subtitle">Ingrese el código de Verificación</h2>
    <form method="POST">{% csrf_token %}
        {{form.as_p}}
        <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Confirmar</button>
            </div>
          </div>
    </form>
</section>
    
{% endblock content %}